@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

#header{
    border: 1em solid rgba(21, 130, 16, 0.298);
    background-image: url(/frontend_notes/img/image_processing20190910-11148-154jotf.gif);
    border-style:double;
    text-align: center;
    border-radius:1em;
}
.hello_mokoko{
    height: 10em;
    width: 10em;
    margin-top: 2em;
    border-radius: 6em;
}
.rock_mokoko{
    width: 6em;
    height: 6em;
    margin-top: 1em;
}
.page{    
    font-size: 3em;
    color: rgb(12, 2, 92);   
}
.my_photo{
    border-radius:5em;
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;

}
#about_me{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(182, 231, 223);
    border: 0.5em solid rgba(21, 130, 16, 0.298);
    border-style:double;
    font-family: 'Cairo';
    font-size: 2em;
    color: #110688;
    border-radius:1em;
}

#band-web{
    text-align: center;
    font-family: Rubik Moonrocks;
    font-size: 2em;
}
.arrow{
    width: 6em;
}
.list{
    background-color: rgb(231, 193, 232);
    font-size: 2em;
    font-family: Rubik Moonrocks;
    border: 0.5em solid rgba(77, 8, 77, 0.298);
    border-style:double;
    height: 13em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius:1em;
}
.TatooText{
    text-align: center;
    margin-top: 2em;
    color: rgb(191, 190, 108);
    background-color: black;
    border: 0.2em solid rgb(191, 190, 108);
    border-style:double;
    font-size: 3em;
    border-radius:0.3em;
    
}
#Tattoo{
    display: flex;
    height: 50em;
    justify-content: center;
    color: rgb(191, 190, 108);
    background-color: black;
    border: 0.5em solid rgb(191, 190, 108);
    border-style:double;
    justify-content: space-around;
    border-radius:1em;
}
.game_mokoko{
    width: 15em;
    margin-top: 4em;
    margin-bottom: 2em;
    border-radius: 8em;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px rgb(139, 243, 241), 0 0 30px #4c83f848, 0 0 40px #009de6, 0 0 50px #3103fd, 0 0 60px #00ccff, 0 0 70px #0839b7;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #1db28d, 0 0 40px #19c89f, 0 0 50px #0e8074, 0 0 60px #0b3295, 0 0 70px #085e1f, 0 0 80px #00f2ff;
    }
    }

    #game, .TatooText{
        color: rgb(255, 255, 255);
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    .game-text{
        font-size: 3.5em;
    }

.photo1{
    width: 100%;
    height: 50em;
    border-radius:4em;
}
.photo2{
    width: 100%;
    height: 50em;
    border-radius:4em;
}
.photo3{
    width: 100%;
    height: 50em;
    border-radius:4em;
}
.photo4{
    width: 100%;
    height: 50em;
    border-radius:4em;
}
footer{
    background-color: rgb(231, 211, 182);
    border: 0.5em solid rgba(214, 126, 11, 0.767);
    border-style:double;
    /* display:flex; */
    height: 10em;
    border-radius:1em;
}

.top_button{
    height: 4em;
    width: 7em;
    border-radius:1em;
    background: rgb(119, 81, 63);
    border-radius: 1.5em;
    box-shadow: 0 0.7em 0.5em rgb(67, 40, 29);
    color: rgb(238, 210, 196);
    font-family:monospace;
    font-size:x-large;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-left: 2em;
    margin-top: 2em;
}
.top_button:hover{
    background: linear-gradient(90deg,#DB6C3F,#F0E987,#D1E46A,#DB6C3F);
    color: rgb(119, 81, 63);
}
.top_button:active{
    box-shadow: 0 0.2em ;
    transform: translateY(4px);
}
.copy{
    text-align: center
}